.movie-rail {
  width: 90%;
  text-align: left;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease;
  margin-bottom: 20px;
  transform-origin: top;
}

.movie-rail.focused {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.movie-rail.dimmed {
  opacity: 0.5;
  transform: scale(0.9) translateY(20%);
}
