.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.player-container video {
  max-height: 80vh;
  max-width: 100%;
  object-fit: contain;
}
